# Business Application: Analysis and Modeling of Customer Purchases

### Part 1: Preliminary Data Analysis

In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('./data/audiobook_data.csv', header=None)

In [3]:
df

          0       1     2      3      4   5      6     7       8   9    10  11
0        994  1620.0  1620  19.73  19.73   1  10.00  0.99  1603.8   5   92   0
1       1143  2160.0  2160   5.33   5.33   0   8.91  0.00     0.0   0    0   0
2       2059  2160.0  2160   5.33   5.33   0   8.91  0.00     0.0   0  388   0
3       2882  1620.0  1620   5.96   5.96   0   8.91  0.42   680.4   1  129   0
4       3342  2160.0  2160   5.33   5.33   0   8.91  0.22   475.2   0  361   0
...      ...     ...   ...    ...    ...  ..    ...   ...     ...  ..  ...  ..
14079  28220  1620.0  1620   5.33   5.33   1   9.00  0.61   988.2   0    4   0
14080  28671  1080.0  1080   6.55   6.55   1   6.00  0.29   313.2   0   29   0
14081  31134  2160.0  2160   6.14   6.14   0   8.91  0.00     0.0   0    0   0
14082  32832  1620.0  1620   5.33   5.33   1   8.00  0.38   615.6   0   90   0
14083    251  1674.0  3348   5.33  10.67   0   8.91  0.00     0.0   0    0   1

[14084 rows x 12 columns]

In [4]:
df.columns

Int64Index([0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11], dtype='int64')

In [5]:
headers = ['ID',
           'book_length_avg', 'book_length_total', 'price_avg', 'price_total', 
           'gave_review', 'avg_review', 'completion', 'time_listened',
           'support_requests', 'last_used_minus_purchase',
           'TARGETS']

In [6]:
keys = np.arange(0, 12)
column_map = dict(zip(keys, headers))

In [7]:
df.rename(column_map, axis=1, inplace=True)

In [8]:
df.describe()

,ID,book_length_avg,book_length_total,price_avg,price_total,gave_review,avg_review,completion,time_listened,support_requests,last_used_minus_purchase,TARGETS
count,14084.000000,14084.000000,14084.000000,14084.000000,14084.000000,14084.000000,14084.000000,14084.000000,14084.000000,14084.000000,14084.000000,14084.000000
mean,16772.491551,1591.281685,1678.608634,7.103791,7.543805,0.160750,8.909795,0.125659,189.888983,0.070222,61.935033,0.158833
std,9691.807248,504.340663,654.838599,4.931673,5.560129,0.367313,0.643406,0.241206,371.084010,0.472157,88.207634,0.365533
min,2.000000,216.000000,216.000000,3.860000,3.860000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,8368.000000,1188.000000,1188.000000,5.330000,5.330000,0.000000,8.910000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,16711.500000,1620.000000,1620.000000,5.950000,6.070000,0.000000,8.910000,0.000000,0.000000,0.000000,11.000000,0.000000
75%,25187.250000,2160.000000,2160.000000,8.000000,8.000000,0.000000,8.910000,0.130000,194.400000,0.000000,105.000000,0.000000
max,33683.000000,2160.000000,7020.000000,130.940000,130.940000,1.000000,10.000000,1.000000,2160.000000,30.000000,464.000000,1.000000

In [9]:
df['num_books'] = round(df['price_total'] / df['price_avg'], 1)
df

,ID,book_length_avg,book_length_total,price_avg,price_total,gave_review,avg_review,completion,time_listened,support_requests,last_used_minus_purchase,TARGETS,num_books
0,994,1620.0,1620,19.73,19.73,1,10.00,0.99,1603.8,5,92,0,1.0
1,1143,2160.0,2160,5.33,5.33,0,8.91,0.00,0.0,0,0,0,1.0
2,2059,2160.0,2160,5.33,5.33,0,8.91,0.00,0.0,0,388,0,1.0
3,2882,1620.0,1620,5.96,5.96,0,8.91,0.42,680.4,1,129,0,1.0
4,3342,2160.0,2160,5.33,5.33,0,8.91,0.22,475.2,0,361,0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
14079,28220,1620.0,1620,5.33,5.33,1,9.00,0.61,988.2,0,4,0,1.0
14080,28671,1080.0,1080,6.55,6.55,1,6.00,0.29,313.2,0,29,0,1.0
14081,31134,2160.0,2160,6.14,6.14,0,8.91,0.00,0.0,0,0,0,1.0
14082,32832,1620.0,1620,5.33,5.33,1,8.00,0.38,615.6,0,90,0,1.0
14083,251,1674.0,3348,5.33,10.67,0,8.91,0.00,0.0,0,0,1,2.0

In [10]:
df.describe()

,ID,book_length_avg,book_length_total,price_avg,price_total,gave_review,avg_review,completion,time_listened,support_requests,last_used_minus_purchase,TARGETS,num_books
count,14084.000000,14084.000000,14084.000000,14084.000000,14084.000000,14084.000000,14084.000000,14084.000000,14084.000000,14084.000000,14084.000000,14084.000000,14084.000000
mean,16772.491551,1591.281685,1678.608634,7.103791,7.543805,0.160750,8.909795,0.125659,189.888983,0.070222,61.935033,0.158833,1.063689
std,9691.807248,504.340663,654.838599,4.931673,5.560129,0.367313,0.643406,0.241206,371.084010,0.472157,88.207634,0.365533,0.330884
min,2.000000,216.000000,216.000000,3.860000,3.860000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
25%,8368.000000,1188.000000,1188.000000,5.330000,5.330000,0.000000,8.910000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
50%,16711.500000,1620.000000,1620.000000,5.950000,6.070000,0.000000,8.910000,0.000000,0.000000,0.000000,11.000000,0.000000,1.000000
75%,25187.250000,2160.000000,2160.000000,8.000000,8.000000,0.000000,8.910000,0.130000,194.400000,0.000000,105.000000,0.000000,1.000000
max,33683.000000,2160.000000,7020.000000,130.940000,130.940000,1.000000,10.000000,1.000000,2160.000000,30.000000,464.000000,1.000000,7.000000

In [11]:
df['num_books_check'] = round(df['book_length_total'] / df['book_length_avg'], 1)
df

,ID,book_length_avg,book_length_total,price_avg,price_total,gave_review,avg_review,completion,time_listened,support_requests,last_used_minus_purchase,TARGETS,num_books,num_books_check
0,994,1620.0,1620,19.73,19.73,1,10.00,0.99,1603.8,5,92,0,1.0,1.0
1,1143,2160.0,2160,5.33,5.33,0,8.91,0.00,0.0,0,0,0,1.0,1.0
2,2059,2160.0,2160,5.33,5.33,0,8.91,0.00,0.0,0,388,0,1.0,1.0
3,2882,1620.0,1620,5.96,5.96,0,8.91,0.42,680.4,1,129,0,1.0,1.0
4,3342,2160.0,2160,5.33,5.33,0,8.91,0.22,475.2,0,361,0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14079,28220,1620.0,1620,5.33,5.33,1,9.00,0.61,988.2,0,4,0,1.0,1.0
14080,28671,1080.0,1080,6.55,6.55,1,6.00,0.29,313.2,0,29,0,1.0,1.0
14081,31134,2160.0,2160,6.14,6.14,0,8.91,0.00,0.0,0,0,0,1.0,1.0
14082,32832,1620.0,1620,5.33,5.33,1,8.00,0.38,615.6,0,90,0,1.0,1.0
14083,251,1674.0,3348,5.33,10.67,0,8.91,0.00,0.0,0,0,1,2.0,2.0

In [12]:
np.min(df['num_books'] - df['num_books_check'])

0.0

In [13]:
np.max(df['num_books'] - df['num_books_check'])

0.0

In [14]:
df.columns

Index(['ID', 'book_length_avg', 'book_length_total', 'price_avg',
       'price_total', 'gave_review', 'avg_review', 'completion',
       'time_listened', 'support_requests', 'last_used_minus_purchase',
       'TARGETS', 'num_books', 'num_books_check'],
      dtype='object')

### Feature Selection

It's possible that we don't need to use all the available input variables. Some of them contain the same information: e.g., minutes listened, total minutes purchases, and completion all contain related variables.

In [15]:
df2 = df[['num_books', 'price_total', 'completion', 'last_used_minus_purchase', 'TARGETS']]

df2 = df[[
    'num_books', 
#     'book_length_avg', 
    'book_length_total', 
#     'price_avg',
    'price_total', 
    'gave_review', 
    'avg_review', 
    'completion',
#     'time_listened', 
#     'support_requests', 
    'last_used_minus_purchase',
    'TARGETS']]

In [16]:
df2

,num_books,book_length_total,price_total,gave_review,avg_review,completion,last_used_minus_purchase,TARGETS
0,1.0,1620,19.73,1,10.00,0.99,92,0
1,1.0,2160,5.33,0,8.91,0.00,0,0
2,1.0,2160,5.33,0,8.91,0.00,388,0
3,1.0,1620,5.96,0,8.91,0.42,129,0
4,1.0,2160,5.33,0,8.91,0.22,361,0
...,...,...,...,...,...,...,...,...
14079,1.0,1620,5.33,1,9.00,0.61,4,0
14080,1.0,1080,6.55,1,6.00,0.29,29,0
14081,1.0,2160,6.14,0,8.91,0.00,0,0
14082,1.0,1620,5.33,1,8.00,0.38,90,0
14083,2.0,3348,10.67,0,8.91,0.00,0,1

In [17]:
A = df2.values

In [18]:
reduced_inputs = A[:, 0:-1]
reduced_inputs

array([[1.000e+00, 1.620e+03, 1.973e+01, ..., 1.000e+01, 9.900e-01,
        9.200e+01],
       [1.000e+00, 2.160e+03, 5.330e+00, ..., 8.910e+00, 0.000e+00,
        0.000e+00],
       [1.000e+00, 2.160e+03, 5.330e+00, ..., 8.910e+00, 0.000e+00,
        3.880e+02],
       ...,
       [1.000e+00, 2.160e+03, 6.140e+00, ..., 8.910e+00, 0.000e+00,
        0.000e+00],
       [1.000e+00, 1.620e+03, 5.330e+00, ..., 8.000e+00, 3.800e-01,
        9.000e+01],
       [2.000e+00, 3.348e+03, 1.067e+01, ..., 8.910e+00, 0.000e+00,
        0.000e+00]])

In [19]:
reduced_targets = A[:, -1]
reduced_targets

array([0., 0., 0., ..., 0., 0., 1.])

In [20]:
reduced_targets.shape

(14084,)

In [21]:
ones_count = int(reduced_targets.sum())
ones_count

2237

### Balance the Data

There are only two outputs: 
* (1) customer made a purchase within 6 months
* (0) customer did not make a purchase within 6 months

We need to balance the data so that there are an equal number of priors in the target data used for training and testing: 50% make a purchase (1) and 50% do not (0).

In [22]:
# shuffle the original input and target data
shuffled_indices_all = np.arange(reduced_inputs.shape[0])
np.random.shuffle(shuffled_indices_all)

In [23]:
shuffled_indices_all

array([ 8834,  6930,  3086, ...,   228, 10829,  3779])

In [24]:
shuffled_inputs = reduced_inputs[shuffled_indices_all]
shuffled_targets = reduced_targets[shuffled_indices_all]

In [25]:
# to balance the dataset, we want to have an equal number of 0 targets and 1 targets
zero_count = 0
remove_indices = []

for i in range (shuffled_targets.shape[0]):
    if (shuffled_targets[i] == 0):
        zero_count += 1
        if (zero_count > ones_count):
            remove_indices.append(i)

In [26]:
unscaled_inputs_equal_priors = np.delete(shuffled_inputs, remove_indices, axis=0)
targets_equal_priors = np.delete(shuffled_targets, remove_indices, axis=0)

(unscaled_inputs_equal_priors.shape, targets_equal_priors.shape)

((4474, 7), (4474,))

In [27]:
# standardize the input data so that each variable has a mean of 0 and standard deviation of 1
from sklearn import preprocessing

In [28]:
scaled_inputs = preprocessing.scale(unscaled_inputs_equal_priors)
scaled_inputs.shape

(4474, 7)

In [29]:
# shuffle the data again
shuffled_indices = np.arange(scaled_inputs.shape[0])
np.random.shuffle(shuffled_indices)
np.max(shuffled_indices)

4473

In [30]:
shuffled_unscaled_inputs = unscaled_inputs_equal_priors[shuffled_indices]

shuffled_scaled_inputs = scaled_inputs[shuffled_indices]

shuffled_targets = targets_equal_priors[shuffled_indices]

### Split Dataset into Training, Validation, and Testing

In [31]:
num_samples = shuffled_scaled_inputs.shape[0]
num_samples

4474

In [32]:
shuffled_unscaled_inputs.shape

(4474, 7)

In [33]:
shuffled_scaled_inputs.shape

(4474, 7)

In [34]:
shuffled_targets.shape

(4474,)

In [35]:
# we will use the 80-10-10 split
split_percents = (0.8, 0.1, 0.1)

n_training = int(split_percents[0] * num_samples)
n_validation = int(split_percents[1] * num_samples)
n_testing = num_samples - n_training - n_validation

In [36]:
# extract data for each data subset:

# 1. Training
input_train = shuffled_scaled_inputs[:n_training]
target_train = shuffled_targets[:n_training]

# 2. Validation
n_limit = n_training + n_validation
input_valid = shuffled_scaled_inputs[n_training:n_limit]
target_valid = shuffled_targets[n_training:n_limit]

# 3. Training
input_test = shuffled_scaled_inputs[n_limit:]
target_test = shuffled_targets[n_limit:]

In [37]:
print(np.sum(target_train) / n_training)
print(np.sum(target_valid) / n_validation)
print(np.sum(target_test) / n_testing)

0.5034925956971221
0.4697986577181208
0.5022321428571429

In [38]:
# save the data in tensor format using .npz files
np.savez('./out/audiobook_train_data', inputs=input_train, targets=target_train)
np.savez('./out/audiobook_valid_data', inputs=input_valid, targets=target_valid)
np.savez('./out/audiobook_test_data',  inputs=input_test,  targets=target_test)

### Part 2: Machine Learning

In [39]:
import tensorflow as tf

In [40]:
npz = np.load('./out/audiobook_train_data.npz')
training_inputs, training_targets = npz['inputs'].astype(np.float), npz['targets'].astype(np.int)

In [41]:
npz = np.load('./out/audiobook_valid_data.npz')
validation_inputs, validation_targets = npz['inputs'].astype(np.float), npz['targets'].astype(np.int)

In [42]:
npz = np.load('./out/audiobook_test_data.npz')
testing_inputs, testing_targets = npz['inputs'].astype(np.float), npz['targets'].astype(np.int)

### Model

In [43]:
training_inputs.shape

(3579, 7)

In [47]:
input_size = training_inputs.shape[1]
output_size = 2
hidden_layer_size = 256

batch_size = 256
max_epochs = 100

early_stopping = tf.keras.callbacks.EarlyStopping(patience=2)


model = tf.keras.Sequential([
    tf.keras.layers.Dense(hidden_layer_size, activation='relu'),
    tf.keras.layers.Dense(hidden_layer_size, activation='relu'),
    tf.keras.layers.Dense(hidden_layer_size, activation='relu'),
    tf.keras.layers.Dense(hidden_layer_size, activation='relu'),
    tf.keras.layers.Dense(hidden_layer_size, activation='relu'),
    tf.keras.layers.Dense(hidden_layer_size, activation='relu'),
    tf.keras.layers.Dense(output_size, activation='softmax'),
])

model.compile(optimizer='adam',
              loss='sparse_categorical_crossentropy',
              metrics=['accuracy'])

In [48]:
model.fit(training_inputs,
          training_targets,
          batch_size=batch_size,
          epochs=max_epochs,
          callbacks=early_stopping,
          validation_data=(validation_inputs, validation_targets),
          verbose=2)

Epoch 1/100
14/14 - 1s - loss: 0.5292 - accuracy: 0.7189 - val_loss: 0.3768 - val_accuracy: 0.7964
Epoch 2/100
14/14 - 0s - loss: 0.4341 - accuracy: 0.7594 - val_loss: 0.4200 - val_accuracy: 0.7651
Epoch 3/100
14/14 - 0s - loss: 0.4010 - accuracy: 0.7832 - val_loss: 0.3607 - val_accuracy: 0.8322
Epoch 4/100
14/14 - 0s - loss: 0.3787 - accuracy: 0.7896 - val_loss: 0.3403 - val_accuracy: 0.8166
Epoch 5/100
14/14 - 0s - loss: 0.3863 - accuracy: 0.7930 - val_loss: 0.3991 - val_accuracy: 0.8188
Epoch 6/100
14/14 - 0s - loss: 0.3763 - accuracy: 0.7999 - val_loss: 0.3374 - val_accuracy: 0.8412
Epoch 7/100
14/14 - 0s - loss: 0.3715 - accuracy: 0.7972 - val_loss: 0.3538 - val_accuracy: 0.8031
Epoch 8/100
14/14 - 0s - loss: 0.3705 - accuracy: 0.7946 - val_loss: 0.3442 - val_accuracy: 0.8300

### Testing

In [49]:
test_loss, test_acc = model.evaluate(testing_inputs, testing_targets)

14/14 [==============================] - 0s 1ms/step - loss: 0.3643 - accuracy: 0.8214